# Pandas 1

## Try out pandas on colab

### panda DataFrame from dictionary

In [1]:
# import needed libraries
import numpy as np
import pandas as pd

In [2]:
# create dataframe from dictionary
d = {
    "key_a": [1, 3, 5, 7],
    "key_b": [2, 4, 6, 8],
    "key_c": [0, 0, 0, 0],
    "key_d": [1, 1, 1, 1]
}

df_d = pd.DataFrame(d)
df_d

   key_a  key_b  key_c  key_d
0      1      2      0      1
1      3      4      0      1
2      5      6      0      1
3      7      8      0      1

In [3]:
# print stats about DataFrame
df_d.describe()

          key_a     key_b  key_c  key_d
count  4.000000  4.000000    4.0    4.0
mean   4.000000  5.000000    0.0    1.0
std    2.581989  2.581989    0.0    0.0
min    1.000000  2.000000    0.0    1.0
25%    2.500000  3.500000    0.0    1.0
50%    4.000000  5.000000    0.0    1.0
75%    5.500000  6.500000    0.0    1.0
max    7.000000  8.000000    0.0    1.0

### pandas DataFrame from numpy random numbers

In [7]:
# create dataframe with 10 random numbers 0 to 100
min_rnd = 0
max_rnd = 100
num_row = 10
num_col = 4
cols = ['A', 'B', 'C', 'D']
df_rnd = pd.DataFrame(np.random.randint(min_rnd,
                                        max_rnd,
                                        size=(num_row, num_col)
                                        ),
                      columns=cols)
df_rnd

    A   B   C   D
0   0  25   8  99
1  28  95  42  16
2  22  38  49  82
3  32  28  46  53
4  51  22  78  40
5  87  21  25  30
6  77  33  91   8
7  77  31  81  23
8  49  74  56  44
9  26  90  99  93

In [5]:
df_rnd.describe()

               A         B          C          D
count  10.000000  10.00000  10.000000  10.000000
mean   50.100000  55.10000  37.900000  47.800000
std    24.076037  22.45712  20.124336  23.507918
min     7.000000  29.00000   5.000000  16.000000
25%    44.250000  33.50000  32.000000  26.250000
50%    53.000000  56.50000  41.000000  47.000000
75%    62.750000  76.75000  46.000000  67.000000
max    85.000000  83.00000  72.000000  79.000000

### Altair Bar Plot

In [6]:
# load an example dataset
from vega_datasets import data
cars = data.cars()
cars.head()

ModuleNotFoundError: No module named 'vega_datasets'

In [ ]:
# plot the dataset, referencing dataframe column names
import altair as alt
alt.Chart(cars).mark_bar().encode(
  x='mean(Miles_per_Gallon)',
  y='Origin',
  color='Origin'
)

In [ ]:
# plot the dataset, referencing dataframe column names
alt.Chart(cars).mark_bar().encode(
  x='mean(Acceleration)',
  y='Origin',
  color='Origin'
)