[View in Colaboratory](https://colab.research.google.com/github/psychofarm/ai_notes/blob/master/pandas_test_drive.ipynb)

# Pandas Test Drive

## Try out out pandas on colab

### panda DataFrame from dictionay

In [0]:
# import needed libraries
import numpy as np
import pandas as pd

In [20]:
# create dataframe from dictionary
d = {
    "key_a": [1, 3, 5, 7],
    "key_b": [2, 4, 6, 8],
    "key_c": [0, 0, 0, 0],
    "key_d": [1, 1, 1, 1]
}

df_d = pd.DataFrame(d)
df_d

   key_a  key_b  key_c  key_d
0      1      2      0      1
1      3      4      0      1
2      5      6      0      1
3      7      8      0      1

In [23]:
# print stats about DataFrame
df_d.describe()

          key_a     key_b  key_c  key_d
count  4.000000  4.000000    4.0    4.0
mean   4.000000  5.000000    0.0    1.0
std    2.581989  2.581989    0.0    0.0
min    1.000000  2.000000    0.0    1.0
25%    2.500000  3.500000    0.0    1.0
50%    4.000000  5.000000    0.0    1.0
75%    5.500000  6.500000    0.0    1.0
max    7.000000  8.000000    0.0    1.0

### pandas DataFrame from numpy random numbers

In [19]:
# create dataframe with 10 random numbers 0 to 100
min_rnd = 0
max_rnd = 100
num_row = 10
num_col = 4
cols = ['A', 'B', 'C', 'D']
df_rnd = pd.DataFrame(np.random.randint(min_rnd,
                                    max_rnd,
                                    size=(num_row, 
                                          num_col)
                                   ), 
                  columns=cols)
df_rnd

    A   B   C   D
0  11  23  16  85
1  22  97  84  83
2   1  49  58  92
3  97  27  72  67
4  17  13  46  36
5  34  60  54  51
6  75  37  61  59
7  28  78  15  11
8  48  54   3  22
9  37  50  20  49

In [22]:
df_rnd.describe()

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean   37.000000  48.800000  42.900000  55.500000
std    29.537171  25.585586  27.573941  27.179445
min     1.000000  13.000000   3.000000  11.000000
25%    18.250000  29.500000  17.000000  39.250000
50%    31.000000  49.500000  50.000000  55.000000
75%    45.250000  58.500000  60.250000  79.000000
max    97.000000  97.000000  84.000000  92.000000