In [77]:
from scipy import stats
import numpy as np
import pandas as pd
from pprint import pprint

In [103]:
d = {
    "even": [ 1, 2, 2, 3, 3, 3, 4, 4, 5 ],
    "low": [ 1, 1, 1, 1, 1, 2, 3, 4, 5 ],
    "high": [1, 2, 3, 4, 5, 5, 5, 5, 5 ]
}
d

{'even': [1, 2, 2, 3, 3, 3, 4, 4, 5],
 'low': [1, 1, 1, 1, 1, 2, 3, 4, 5],
 'high': [1, 2, 3, 4, 5, 5, 5, 5, 5]}

In [114]:
df = pd.DataFrame(d)
df

   even  low  high
0     1    1     1
1     2    1     2
2     2    1     3
3     3    1     4
4     3    1     5
5     3    2     5
6     4    3     5
7     4    4     5
8     5    5     5

In [129]:
stats = df.describe().T
stats

      count      mean       std  min  25%  50%  75%  max
even    9.0  3.000000  1.224745  1.0  2.0  3.0  4.0  5.0
low     9.0  2.111111  1.536591  1.0  1.0  1.0  3.0  5.0
high    9.0  3.888889  1.536591  1.0  3.0  5.0  5.0  5.0

In [138]:
print("standard error")
sem = [df.loc([col]).sem() for col in df.columns]

standard error

AttributeError: 'DataFrame' object has no attribute 'col'

In [53]:
# median calculation
# numpy
x_median = np.median(a)
print(f"x_median (numpy method) = {x_median}")

x_median (numpy method) = 1.0

In [54]:
# mode calculation
# scipy
x_mode = stats.mode(a, axis=None)
print(f"x_mode = {x_mode}")
print(type(x_mode))
print(f"x_mode (mode only) = {x_mode.mode}")
print(f"x_mode (count only) = {x_mode.count}")

x_mode = ModeResult(mode=array([1]), count=array([5]))
<class 'scipy.stats.stats.ModeResult'>
x_mode (mode only) = [1]
x_mode (count only) = [5]

In [41]:
# variance calculation
# numpy
var = np.var(a)
print(f"var (numpy method) = {var}")
var = a.var()
print(f"var (numpy method) = {var}")
print(f"sqrt of var (standard deviation) = {np.sqrt(var)}")

var (numpy method) = 1.3333333333333333
var (numpy method) = 1.3333333333333333
sqrt of var (standard deviation) = 1.1547005383792515

In [42]:
# standard deviation calculation
# numpy
s = np.std(a)
print(f"s (numpy method) = {s}")
s = a.std()
print(f"s (numpy method) = {s}")

s (numpy method) = 1.1547005383792515
s (numpy method) = 1.1547005383792515

In [46]:
# standard error calculation
# numpy
n = len(a)
s = np.std(a, ddof=1)
se = s / np.sqrt(n)
print(f"standard error (numpy method) = {se}")
# scipy
sem = stats.sem(a)
print(f"standard error (scipy method) = {sem}")

standard error (numpy method) = 0.40824829046386296
standard error (scipy method) = 0.40824829046386296